<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<ul>
  		<li>
  			Home
  		</li>
  		<li>
  			About
  		</li>
  	</ul>	
    {{{body}}}
  </body>
</html>
